@import "tailwindcss";




.animated-input {
    position: relative;
}

.animated-input::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-out;
}

.animated-input:focus-within::after {
    width: 100%;
}


html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;  
    background: transparent;  
}